@font-face {
  font-family: "Adineue-Pro";
  src: url("./fonts//Adineue/adineue-pro.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Minecraft";
  src: url("./fonts/Minecraft/Minecraft-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("./fonts/Aeonik/AeonikTRIAL-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Aeonik", sans-serif;
  color: "white";
  background: "#0d0d0f";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.scroll-hero-text {
  -webkit-text-stroke: 1px#1a1d01;
}

.mode-hero-text {
  -webkit-text-stroke: 1px #1a1d01;
}

.wide-full {
  width: calc(100% + 2px);
}

html {
  scroll-behavior: smooth;
}

@keyframes animCirleBrush {
  0% {
    transform: rotate(0deg) scale(1.0, 1.0);
  }

  100% {
    transform: rotate(360deg) scale(0.5, 0.5);
  }
}

.green-circle-brush {
  position: relative;
  display: block;
  animation: animCircleBrush 5s linear 2s alternate infinite;
  /* border: 2px solid rosybrown */
  /* transform: scale(0.5, 0.5); */
}